{% extends "base.njk" %}
{% block titulo %}Usuario | Login usuario{% endblock %}

{% block contenido %}

    <h1 class="titulo">Autenticación de usuario</h1>

    <form action="/auth/login" method="post">
        <div class="form-group">
            <label for="login">Nombre de usuario:</label>
            <input type="text" class="form-control" name="login" placeholder="Nombre de usuario...">
        </div>
        <br>

        <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" class="form-control" name="password" placeholder="Contraseña...">
        </div>
        <br>

        <button type="submit" class="btn btn-primary">Acceder</button>
    </form>
    <br>
    {% if error %}
    <div class ="text-danger">
        {{error}}
    </div>
    {% endif %}

{% endblock %}